body {
    background-image: url("5570863.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration-line: none;
    color: DeepSkyBlue;
}

a:link {
    text-decoration: none;
    color: DeepSkyBlue;
}
  
a:visited {
    text-decoration: none;
    color: DeepSkyBlue;
}
  
a:hover {
    text-decoration: underline;
    color: DeepSkyBlue;
}
  
a:active {
    text-decoration: underline;
    color: DeepSkyBlue;
}

.icon {
    text-align: center;
    padding: 20px;
}

.Background {
    box-shadow: 15px 15px LightGrey;
    border-radius: 25px;
    border: 1px solid;
    position: absolute;
    width: 50%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    margin: 10px;
}

.hrr {
    width: 500px;
    height: 10px;
    background-color: LightGrey;
}

.text {
    text-align: center;
    color: gray;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Circle {
    border: 10px solid Lime;
    border-radius: 50%;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: auto;
}

.texts {
    text-align: center;
    color: Lime;
    font-size: 23px;
    padding-top: 1px;
    padding-bottom: 20px;
}

.link {
    text-align: center;
    font-size: 23px;
}