body {
    background-image: url("5570863.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    margin: auto;
    padding: 7px;
    width: 90%;
    height: 550px;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    border: none;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: DeepSkyBlue;
    color: white;
}

button:link {
    background-color: DeepSkyBlue;
}

button:visited {
    background-color: DeepSkyBlue;
}

button:hover {
    border: none;
    background-color: Lime;
}

button:active {
    border: none;
    background-color: Lime;
}

a {
    text-decoration-line: none;
    color: DeepSkyBlue;
}

a:link {
    text-decoration: none;
    color: DeepSkyBlue;
}
  
a:visited {
    text-decoration: none;
    color: DeepSkyBlue;
}
  
a:hover {
    text-decoration: underline;
    color: DeepSkyBlue;
}
  
a:active {
    text-decoration: underline;
    color: DeepSkyBlue;
}

p.text {
    color: gray;
    font-size: 23px;
    padding-bottom: 35px;
}

p.jr {
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

p.ctp {
    color: gray;
    font-size: 23px;
    padding-bottom: 35px;
}

.Form {
    display: flex;
    justify-content: center;
    box-shadow: 15px 15px LightGrey;
    border-radius: 25px;
    border: 1px solid;
    position: absolute;
    width: 70%;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Left, .Right {
    background-color: white;
    border-radius: 25px;
    width: 47%;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
}

.Left {
    background-color: Cyan;
}

.Right {
    right: 10px;
    padding: 10px;
    text-align: left;
    line-height: 20px;
}

.hrr {
    width: 500px;
    height: 10px;
    background-color: Blue;
}